{% autoescape off %}

{% blocktranslate with username=post.user_id.username post_title=post.title moderator=moder trimmed %}

Hello {{ username }}!
Your post "{{ post_title }}" have been declined by moderator with nickname {{ moderator }},
for the following reason:

{% endblocktranslate %}

{% for i in post.get_reason %}
    {{ i.text }}
{% endfor %}

{% blocktranslate with slug=post.slug trimmed %}

We recommend you to make necessary corrections and re-submit the post for review.
Here's the link to your post: http://{{ domain }}/post/{{post.slug}}/

{% endblocktranslate %}


{% endautoescape %}
