{% autoescape off %}

{% blocktranslate with username=post.user_id.username post_title=post.title moderator=moder trimmed %}

Здравствуйте, {{ username }}!
Вашу статью "{{ post_title }}" отклонил модератор {{ moderator }},
по причине

{% endblocktranslate %}

{% for i in post.get_reason %}
    {{ i.text }}
{% endfor %}

{% blocktranslate with slug=post.slug trimmed %}

Вы можете исправить свои ошибки и отправить на рассмотрению Вашу статью повторно
Ссылка на вашу статью : http://{{ domain }}/post/{{post.slug}}/

{% endblocktranslate %}


{% endautoescape %}
