<div class="row header">
    <ul class="d-flex text-center list-inline justify-content-center align-items-center">
        <div class="col-2"></div>
        <li class="col-1"><a class="text-secondary h6" href="{% url 'admin:user_list' %}">Юзер</a></li>
        <li class="col-1"><a class="text-secondary h6" href="{% url 'admin:post_list' %}">Посты</a></li>
        <li class="col-1"><a class="text-secondary h6" href="{% url 'admin:category_list' %}">Категории</a></li>
        <div class="col-2"></div>
    </ul>
</div>
