{% extends 'adminapp/admin_base.html' %}
{% block admin_content %}


<table class="table">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>Статус</th>
            <th>Автор</th>
            <th>Категория</th>
            <th>Заголовок</th>
            <th>Читать</th>
            <th>Дата создания/обновления</th>
            <th>Дата смены статуса</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr class="text-center {% if object.post_status == 'Aip' %} table-warning {% endif %}"  {% if object.post_status == 'Del' or object.post_status == 'Can' %} style="opacity: 0.5" {% endif %}>

            <td>
                {{object.get_post_status_display}}
                <br>
                {% if object.post_status != 'Apr' %}
                <a href="{% url 'admin:change_status_post' object.slug 'Apr'%}">
                    <i class="bi bi-check2-square"></i></a>
                {% endif %}
                {% if object.post_status != 'Del' %}
                <a href="{% url 'admin:change_status_post' object.slug 'Del'%}">
                    <i class="bi bi-trash"></i></a>
                {% endif %}
                {% if object.post_status != 'Can' %}
                    <a href="{% url 'admin:change_status_post' object.slug 'Can'%}">
                        <i class="bi bi-x-octagon"></i></a>
                {% endif %}


            </td>
            <td>
                {{object.user_id.name}}
            </td>
            <td>
                {{object.category_id.name}}
            </td>
            <td >
                {{object.title}}
            </td>
            <td>
                <a href="{% url 'main:post' object.slug %}">читать статью</a>
            </td>
            <td>
                {{object.date_create}} <br> {{object.date_update}}
            </td>
            <td>
                {{object.status_update}}
            </td>


        </tr>
        {% endfor %}



    </tbody>
</table>


{% endblock %}
