{% extends 'mainapp-base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col text-justify">{% include 'adminapp/inc_admin_menu.html' %}</div>
    <div class="col-2"></div>
</div>
<div class="row">

    <div class="col-2"></div>
    <div class="col text-justify">
        <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Удалить статью</th>
                    <th>Статус</th>
                    <th>Автор</th>
                    <th>Категория</th>
                    <th>Заголовок</th>
                    <th>Читать</th>
                    <th>Дата создания/обновления</th>
                    <th>Дата смены статуса</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr class="text-center">
                    <td>
                    </td>
                    <td>
                        {{object.get_post_status_display}}
                    </td>
                    <td>
                        {{object.user_id.name}}
                    </td>
                    <td>
                        {{object.category_id.name}}
                    </td>
                    <td>
                        {{object.title}}
                    </td>
                    <td>
                        <a href="{% url 'main:post' object.slug %}">читать статью</a>
                    </td>
                    <td>
                        {{object.date_create}} <br> {{object.date_update}}
                    </td>
                    <td>
                        {{object.status_update}}
                    </td>


                </tr>
                {% endfor %}



            </tbody>
        </table>


    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
