{% extends 'mainapp-base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col text-justify">{% include 'adminapp/inc_admin_menu.html' %}</div>
    <div class="col-2"></div>
</div>
<div class="row">

    <div class="col-2"></div>
    <div class="col text-justify">
        <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Группа</th>
                    <th>Блокирован</th>
                    <th>Username</th>
                    <th>Имя/Фамилия</th>
                    <th>Email</th>
                    <th>Last Logged</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr class="text-center">
                    <td>{% if object.is_superuser %}Admin{% else %}User{% endif %}
                    </td>

                    <td>
                        {{ object.status_block }}
                        {% if object.status_block == True %}
                        <br>
                        {{object.status_update}}
                        {% endif  %}
                    </td>

                    <td>
                        <h4>{{ object.username }}</h4>

                    </td>

                    <td>
                        {{ object.name }} /
                        {{ object.surname }}
                    </td>
                    <td>
                        {{ object.email }}
                    </td>
                    <td>
                        {{ object.last_login }}
                    </td>
                </tr>
                {% endfor %}



            </tbody>
        </table>


    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
