{% extends 'mainapp_base.html' %}
{% load static %}

{% block users %}
{% endblock %}

{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Форма сброса пароля</h1>
    <h6 style="width: 60%; margin: 0 auto">
      Пожалуйста, введите новые пароль.
    </h6>
  <br>
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="text-center mr-3">{{field.label}}</div>
        <div class="form-con-create">{{field}}</div>
      {% endfor %}
      <br>

    <!--  {{form}}-->
      <input type="submit" value="Сбросить пароль"/>
    </form>
</div>

{% endblock%}