{% extends 'mainapp_base.html' %}
{% load static %}

{% block users %}
{% endblock %}

{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
   <h1>Инициирована процедура сброса пароля</h1>
   <h5>Мы отправили Вам инструкцию по сбросу парола на указанный адрес. Если данный адрес существует в базе, Вы получите от нас письмо.</h5><br>
   <h6 style="width: 60%; margin: 0 auto">Если письмо не приходит, удостоверьтесь, пожалуйста, что введенный Вами адрес корректен. Также рекомендуем проверить содержимое папки Спам</h6>
</div>
<div class="text-center">
  <a href="{% url 'mainapp:index' %}">Вернуться на Главную</a>
</div>

{% endblock%}