{% extends 'mainapp_base.html' %}
{% load static %}
{% load i18n %}

{% block users %}
{% endblock %}

{% block content %}
<h2>
    {% trans 'Изменение пароля' %}
</h2>
<div style="width: 40%; margin: 0 auto">
    <div>
        <ul>
            {% blocktranslate  trimmed %}
            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
            <li>Пароль должен быть достаточно оригинальным и не часто употребимым.</li>
            <li>Пароль не должен состоять только из цифр.</li>
            {% endblocktranslate %}
        </ul>
    </div>
</div>
<div style="width: 80%; margin: 0 auto">
    <form method="post">
        {% csrf_token %}
        <div class="row gtr-uniform">
            {% for field in form %}
            <div class="col-6 col-12-xsmall">{{field.label}}{{field}}</div>
            {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">{% trans 'Изменить пароль' %}</button>
    </form>
</div>
{% endblock%}
