{% extends 'mainapp_base.html' %}
{% load static %}

{% block users %}
{% endblock %}

{% block content %}
<h2 class="text-center">
    Изменение пароля
</h2>
<div style="width: 40%; margin: 0 auto">
    <div class="alert alert-info text-sm-left%" role="alert">
        <ul>
            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
            <li>Пароль должен быть достаточно оригинальным и не часто употребимым.</li>
            <li>Пароль не должен состоять только из цифр.</li>
        </ul>
    </div>
</div>
<div class="text-center" style="width: 80%; margin: 0 auto">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="text-centermr-3">{{field.label}}</div>
        <div class="form-con-create">{{field}}</div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
    </form>
</div>
{% endblock%}
