{% extends 'mainapp_base.html' %}
{% load static %}
{% load i18n %}

{% block users %}
{% endblock %}

{% block content %}
<h2>
    {% trans 'Change password' %}
</h2>
<div style="width: 40%; margin: 0 auto">
    <div>
        <ul>
            {% blocktranslate  trimmed %}
            <li>Password should not contain your personal information.</li>
            <li>Password should be 8 symbols long.</li>
            <li>Password should not be easy to guess.</li>
            <li>Password should contain numbers and letters.</li>
            {% endblocktranslate %}
        </ul>
    </div>
</div>
<div style="width: 80%; margin: 0 auto">
    <form method="post">
        {% csrf_token %}
        <div class="row gtr-uniform">
            {% for field in form %}
            <div class="col-6 col-12-xsmall">{{field.label}}{{field}}</div>
            {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
    </form>
</div>
{% endblock%}
