{% extends 'mainapp_base.html' %}
{% load static %}

{% block content %}


<h2>Регистрация</h2>
{% for message in messages %}
{{ message }}
{% endfor %}
<form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--                {{ register_form.as_table }}-->
    <div class="row gtr-uniform">
        {% for field in register_form %}

        <div class="col-6 col-12-xsmall">
            {{field.label_tag }} {{field}}
        </div>
        {% endfor %}
    </div>
    <input class="form-control" type="submit" value="зарегистрироваться">
</form>


{% endblock %}
