{% extends 'mainapp_base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <p class="h2 text-center">Регистрация</p>
            <form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ register_form.as_p }}
                <input class="form-control" type="submit" value="зарегистрироваться">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}
