{% extends 'mainapp_base.html' %}
{% load static %}

{% block users %}
{% endblock %}

{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Вы на странице восстановления пароля.</h1>
  <h3>
    Забыли пароль? Пожалуйста, введите адрес электронной почты, введенный при регистрации
    и мы отправим Вам письмо с инструкцией.
  </h3>
</div>
<br/>

<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Отправить письмо" /><br>
</form><br/>
<div class="text-center">
  <a href="{% url 'mainapp:index' %}">Вернуться на Главную страницу</a>
</div>

{% endblock%}