{% extends 'mainapp_base.html' %}
{% load static %}
{% load i18n %}

{% block users %}
{% endblock %}

{% block content %}
<div id="main">
    <article class="post">
        {% if request.resolver_match.url_name == 'reset_password' %}
            <h2>{% translate 'Password recovery page' %}</h2>
            <h6>
                {% translate 'Forgot your password?' %} <br>
                {% translate 'Please enter email you entered when registering and we will send you a link to password reset page' %}
            </h6>
        <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {{form}}
            <input type="submit" style="margin-top: 2%" value={% translate 'Send email' %} /><br>
        </form>
        {% elif request.resolver_match.url_name == 'password_reset_done' %}
            {% blocktranslate  trimmed %}
            <h2>Password reset procedure initiated</h2>
            <h6>We've sent you instruction on how to reset password. If submitted email exist in our database,
                you will receive a email.</h6>
            <h6>If you cannot find the email, please verify that the email was entered correctly.
                Also we recommend to check your Spam folder</h6>
            {% endblocktranslate %}
        {% elif request.resolver_match.url_name == 'password_reset_complete' %}
            <h2>{% translate 'Password was successfully reset' %}</h2>
            <h6>{% translate 'Password was successfully reset. You can login now with a new password.' %}</h6>
        {% elif request.resolver_match.url_name == 'password_change_done' %}
            <h2>{% translate 'Success!' %}</h2>
            <h6>{% translate 'Password was updated successfully.' %}'</h6>
        {% else %}
            {{ service_message }}
            {% if login_allowed %}
            <a class="text-secondary h6" href=#menu">{% translate 'Log in' %}</a>
            {% endif %}
        {% endif %}
            <a href="{% url 'mainapp:index' %}">{% translate 'Back to Main page' %}</a>
    </article>
</div>
{% endblock %}
