{% extends 'mainapp_base.html' %}
{% load static %}
{% load i18n %}

{% block users %}
{% endblock %}

{% block content %}
<div id="main">
    <article class="post">
        {% if request.resolver_match.url_name == 'reset_password' %}
            <h2>{% trans 'Вы на странице восстановления пароля.' %}</h2>
            <h6>
                {% trans ' Забыли пароль? Пожалуйста, введите адрес электронной почты, введенный при регистрации
                и мы отправим Вам письмо с инструкцией. %}
            </h6>
        <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {{form}}
            <input type="submit" style="margin-top: 2%" value="Отправить письмо" /><br>
        </form>
        {% elif request.resolver_match.url_name == 'password_reset_done' %}
            {% blocktranslate  trimmed %}
            <h2>Инициирована процедура сброса пароля</h2>
            <h6>Мы отправили Вам инструкцию по сбросу пароля на указанный адрес. Если данный адрес существует в базе,
                Вы получите от нас письмо.</h6>
            <h6>Если письмо не приходит, удостоверьтесь, пожалуйста,
                что введенный Вами адрес корректен. Также рекомендуем проверить содержимое папки Спам</h6>
        {% elif request.resolver_match.url_name == 'password_reset_complete' %}
            <h2>Сброс пароля завершен успешно</h2>
            <h6> Сброс пароля завершен успешно. Вы можете войти в систему с новым паролем. </h6>
        {% elif request.resolver_match.url_name == 'password_change_done' %}
            <h2>Успех!</h2>
            <h6> Пароль успешно изменен. </h6>
            {% endblocktranslate %}
        {% else %}
            {{ service_message }}
            {% if login_allowed %}
            <a class="text-secondary h6" href=#menu">{% trans 'Вход' %}</a>
            {% endif %}
        {% endif %}
            <a href="{% url 'mainapp:index' %}">{% trans 'Вернуться на Главную страницу' %}</a>
    </article>
</div>
{% endblock %}
