{% extends 'mainapp_base.html' %}
{% load static %}

{% block content %}
<div id="main">
    <article class="post">
        <h2>Редактирование данных пользователя</h2>
        <form method=post enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <h6>{{field.label}}</h6>
                <h6>{{field}}</h6>
            {% endfor %}
            <button type="submit"  value="сохранить"  name="save-article"> Сохранить </button>
        </form>
        <h6><a href="{% url 'authapp:password_change' %}">Сменить пароль</a></h6>
    </article>
</div>
{% endblock %}
