{% extends 'mainapp_base.html' %}
{% load static %}
{% load auth_extras %}
{% load i18n %}


{% block content %}


<!-- Main -->
<div id="main">

    <!-- Post -->
    <article class="post">
        {% if text == 1 %}
        {% include "mainapp/inc_buffer.html" %}
        {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_password">{% trans 'Password' %}</label>
                <input type="password" name="password" id="id_password" placeholder="{% trans 'Password' %}" />
            </div>

            <input class="form-control" type="submit" style="margin-top: 7%" value="{% trans 'Sign in' %}">
        </form>
        {% endif %}
        </article>
    </div>
{% endblock %}