{% extends 'mainapp_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col text-justify">
            <p>
                У всех пользователей есть возможно только читать статьи, создать аккаунт.
                При попытке комментировать статью создать статью, лайкнуть статью, пользователя,
                комментарий, пользователя перебрасывает на страницу авторизации/регистрации.
                После регистрации/авторизации пользователя перебрасывает обратно.
                Но пользователь может отказаться от регистрации/авторизации и продолжить только с возможностью читать статью.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <p>
                Авторизованные пользователи имеют доступ к своему личному кабинету,
                могут редактировать личные данные, создавать статьи из личного кабинета,
                удалять и редактировать их, создавать статьи из тематических разделов(в так случае категория статьи заедается автоматически),
                лайкать статьи, авторов и комментарии других пользователей, комментировать статьи.
                После авторизации пользователя его перебрасывает на главную страницу,
                где он может смотреть статьи других пользователей или создать свою.
                При нажатии на «Создать новую статью» пользователь переходит на страницу создания статьи,
                где ему предлагается ввести заголовок статьи, её содержание и категорию, далее он нажимает на «Сохранить»,
                и его статье присваивается статус «черновик». Также пользователь при нажатии на своё имя пользователь может
                зайти в свой личный кабинет, где тоже может создать статью и редактировать свои данные.
                Это можно сделать при нажатии на «Редактировать».
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}