{% extends 'mainapp_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Страница помощи' %}</h2>
<div class="row">
    <div class="col">
        <ol>
            {% blocktranslate  trimmed %}
            <li> У всех пользователей есть возможно только читать статьи, создать аккаунт, нажав на «Регистрация».
                При попытке комментировать статью создать статью, лайкнуть статью, пользователя, комментарий, пользователя перебрасывает на страницу авторизации/регистрации.
                После этого он получает права авторизованного пользователя.</li>
            <li> Доступен поиск по статьям. Для это нужно ввести запрос в поле под меню и нажать «Enter».</li>
            <li> Также возможно посмотреть новые статьи и самые популярные статьи, кликнув на соответствующие ссылки под м</li>
            {% endblocktranslate %}
        </ol>
    </div>
</div>
<h3>{% trans 'Авторизованные пользователи могут:' %}</h3>
<div class="row">
    <div class="col">
        <ol>
            {% blocktranslate  trimmed %}
            <li> Зайти в личный кабинет. Для этого нужно кликнуть на своё имя в меню.</li>
            <li> В личном кабинете пользователь может отредактировать свои данные.
                Для этого нужно клинков на «Редактировать».</li>
            Пользователю будет предложено изменить желаемые данные и сохранить их нажатием на «Сохранить».</li>
            <li> Также пользователь может изменить пароль. Для этого нужно кликнуть на «Сменить пароль» и заполнить необходимые поля.</li>
            <li> Восстановить пароль, если не удается войти. Для нужно нажать на "Забыли пароль?" и следовать дальнейшим инструкциям.</li>
            <li> Создать/редактировать/удалить свою статью. Создать статью можно из разных тематических разделов сайта, а также из личного кабинета.
                Для этого нужно кликнуть на «Создать статью», после чего пользователю будет предложено заполнить название, содержание и выбрать категорию.
                После надо нажать на «сохранить» и ей присваивается статус «Ждет одобрения».</li>
            <li> Лайкать/комментировать статьи и комментарии других авторов, лайкать других авторов.
                Для этого нужно просто кликнуть на название статьи или на «Читать целиком».</li>
            <a href="{% url 'mainapp:video_list' %}">Там можно найти</a> поле для ввода комментария и после заполнения отправить комментарий. Для лайка нужно просто нажать на «👍»<br>
            <li> Комментировать статьи других пользователей. Это можно сделать на странице самой статьи, нажав на "Комментировать", после чего
                пользователю будет предложено ввести комментарий в поле. А можно прокомментировать статьи, нажав на иконку комментария справа от названия статьи.
                Нажав на "Отправить", комментарий будет создан. Также пользователь может удалить
                комментарий, нажав на "Удаить комментарий" или отредактировать, нажав на "Редактировать комментарий".</li>
            <li> Можно также ответить на комменатрий другого пользователя, нажав на "Ответить" и, заполнив поле, отправить.</li>
            {% endblocktranslate %}
        </ol>
    </div>
</div>

{% endblock %}
