{% extends 'mainapp_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col text-justify">
            <p>
                1. У всех пользователей есть возможно только читать статьи, создать аккаунт, нажав на «Регистрация».
                При попытке комментировать статью создать статью, лайкнуть статью, пользователя, комментарий, пользователя перебрасывает на страницу авторизации/регистрации.
                После этого он получает права авторизованного пользователя.<br>
                2. Доступен поиск по статьям. Для это нужно ввести запрос в поле под меню и нажать «Enter».<br>
                3. Также возможно посмотреть новые статьи и самые популярные статьи, кликнув на соответствующие ссылки под меню.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <p>
                Авторизованные пользователи могут:<br>
                1. Зайти в личный кабинет. Для этого нужно кликнуть на своё имя в меню.<br>
                2. В личном кабинете пользователь может отредактировать свои данные.
                Для этого нужно клинков на «Редактировать».<br>
                Пользователю будет предложено изменить желаемые данные и сохранить их нажатием на «Сохранить».<br>
                3. Также пользователь может изменить пароль. Для этого нужно кликнуть на «Сменить пароль» и заполнить необходимые поля.<br>
                4. Создать/редактировать/удалить свою статью. Создать статью можно из разных тематических разделов сайта, а также из личного кабинета.
                Для этого нужно кликнуть на «Создать статью», после чего пользователю будет предложено заполнить название, содержание и выбрать категорию.
                После  надо нажать на «сохранить» и ей присваивается статус «Ждет одобрения».<br>
                5. Лайкать/комментировать статьи и комментарии других авторов, лайкать других авторов.
                Для этого нужно просто кликнуть на название статьи или на «Читать целиком».
                Там можно найти поле для ввода комментария и после заполнения отправить комментарий. Для лайка нужно просто нажать на «👍»
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}