{% extends 'mainapp_base.html' %}
{% load static %}
{% load auth_extras %}
{% load i18n %}


{% block content %}


<!-- Main -->
<div id="main">

    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">{{object.title}}</a></h2>
                <p>Раздел: {{ object.category_id.name }}</p>

                <span style="font-size: 14px">{% if user.is_superuser or user|has_group:"Moder"  %}
                    <hr>
                    {{object.get_post_status_display}}
                    <hr>
                    {% if object.post_status != 'Apr' %}
                    <a href="{% url 'admin:change_status_post' object.slug 'Apr'%}" title="{% trans 'Одобрено' %}">
                        <i class="icon solid fa-check"></i></a>
                    {% endif %}
                    {% if object.post_status != 'Del' %}
                    <a class="text-info" href="{% url 'admin:change_status_post' object.slug 'Del'%}" title="{% trans 'Удалить' %}">
                        <i class="icon solid fa-trash"></i></a>
                    {% endif %}
                    {% if object.post_status != 'Can' %}
                    <a class="text-info" href="{% url 'admin:change_status_post' object.slug 'Can'%}" title="{% trans 'Отклонить' %}">
                        <i class="icon solid fa-window-close"></i></a>
                    {% endif %}{% endif %}
                </span>
                {% if object.get_reason %}
                <h3 class="text-center">{% trans 'Причина отклонения статьи' %}</h3>
                {% for i in object.get_reason %}
                <div class="alert alert-danger text-center" role="alert">
                    <strong>От {{i.user_id.username}}</strong> {{i.text}}
                    <br>
                    {{i.date_create}}
                </div>
                <hr>
                {% endfor %}
                {% endif %}

            </div>
            <div class="meta">
                <time class="published" datetime="{{object.date_create}}">{{object.date_create}}</time>
                {%  if object.post_updated %}
                <time class="published" datetime="{{object.date_update}}">{% trans 'Дата обновления:' %} <br> {{object.date_update}}</time>
                {% endif %}
                <a href="#" class="author"><span class="name">{{object.user_id.username}}</span>{% if object.user_id.avatar %}  <img src="{{ object.user_id.avatar.url }}" title="{{ object.user_id.name }} {{ object.user_id.surname }}" alt="" /> {% endif %} </a>
            </div>
        </header>
        {% if object.title_photo %}
        <span class="image featured"><img src="{{ object.title_photo.url }}" title="{{ object.title_photo }}" alt="" /></span>
        {% endif %}
        {% autoescape off %}
        <p>{{object.text}}</p>
        {% endautoescape %}
        <footer>
            <ul class="stats">
                <li><a href="{% url 'main:category' slug=object.category_id.slug %}">{{ object.category_id.name }}</a></li>
                <li><a {% if user.is_authenticated %}
                       href="#/"
                       data-url="{% url 'main:like' object.pk 'post' %}"
                       {% else %}
                       href="#menu" data-toggle="modal"
                       {% endif %}
                       class="icon solid fa-heart fa-bars">{{object.get_count_post}}</a></li>

                {% if user.is_authenticated %}
                    <li><a href="#" class="icon solid fa-comment">{{object.count_all_comment}}</a></li>
                {% else %}
                    <li><a href="#menu" class="icon solid fa-comment fa-bars">{{object.count_all_comment}}</a></li>
                {% endif %}
            </ul>
        </footer>
        {% if user.is_authenticated %}
            <button onclick="window.location.href = '#modelComment';">{% trans 'Комментировать' %}</button>
        {% endif %}
    </article>

    <div id="modelComment" class="modalDialog">
        <div class="post">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <input type="hidden" name="parent" id="contactparent" value="">
                <p class="form-con">{{field}}</p>
                {% endfor %}
                <button type="submit" value="отправить" name="save-article" onclick="window.location.href = '#close';">{% trans 'Отправить' %}</button>
                <button type="button" onclick="window.location.href = '#close';">{% trans 'Закрыть' %}</button>
            </form>
        </div>
    </div>

    {% if comments %}
    {% for comment in comments %}
    <article class="post">
        <div class="row">
            <div class="col-9">
                <p style="text-align: center">
                    {% if 'Del' in comment.comment_status %}
                <p>{% trans 'Комментарий удален' %}</p>
                {% if user|has_group:"Moder" %}
                <p> {{comment.text}} </p>
                <p class="bg-danger text-white text-center">{% trans 'Комментарий виден только модератору' %}</p>
                {% endif %}
                {% else %}
                {% autoescape off %}
                {{comment.text | linebreaks}}
                {% endautoescape %}
                {% endif %}
                </p>
            </div>
            <div class="col-3">
                {% if comment.comment_status != 'Del' or user|has_group:"Moder" %}

                <p style="text-align: right" class="text-info">
                    <a {% if user.is_authenticated %}
                       href="#/"
                       data-url="{% url 'main:like' comment.pk 'comment' %}"
                       class="icon solid fa-heart likeIcon"
                       {% else %}
                       href="#menu"  class="icon solid fa-heart fa-bars"
                       {% endif %}
                       >{{comment.get_count_comment}}</a>
                    <br>
                    Автор: {{comment.user_id.username}}
                    <br>
                    {{comment.date_create}}
                    {% if comment.date_update|date:"Y,m,d,h,i" > comment.date_create|date:"Y,m,d,h,i" %}
                    <br>
                    Обновлен {{comment.date_update}}
                    {% endif %}
                    {% if comment.user_id_id == user.id and 'Del' != comment.comment_status %}
                    <br>
                    <a class="text-info" href="{% url 'main:comment_delete' comment.pk%}">{% trans 'Удалить коментарий' %}</a>
                    <br>
                    <a class="text-info" href="{% url 'main:comment_update' comment.pk%}">{% trans 'Редактировать коментарий %}</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <br>
                    <a  class="text-info" href="#modelComment" onclick="addReview('{{comment.user_id.username}}', '{{comment.id}}')">{% trans 'Ответить' %}}</a>
                    {% endif %}
                </p>


                <!-- Удаление комментария модератором -->
                {% if user|has_group:"Moder" and 'Del' != comment.comment_status %}
                <div class="">
                    <form action="{% url 'main:comment_delete' comment.pk%}">
                        <input class="btn" type="submit" value="{% trans 'Модератор: Удалить коментарий' %}" />
                    </form>
                </div>
                {% endif %}

                {% endif %}
            </div>

        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                {% for answer in comment.get_review %}
                <hr>
                <div class="row">
                    <div class="col-9">
                        <p style="text-align: left">
                            {% if 'Del' in answer.comment_status %}
                        <p class="alert alert-warning text-center">{% trans 'Ответ удален' %}</p>
                        {% if user|has_group:"Moder" %}
                        <p class="text-muted"> {{answer.text|linebreaks}} </p>
                        <p class="bg-danger text-white text-center">{% trans 'Ответ виден только модератору' %}</p>
                        {% endif %}
                        {% else %}
                        {% autoescape off %}
                        {{answer.text | linebreaks}}
                        {% endautoescape %}
                        {% endif %}
                        </p>
                    </div>
                    <div class="col-3">
                        {% if answer.comment_status != 'Del' or user|has_group:"Moder" %}

                        <p style="text-align: right" class="text-info">
                            <a style="font-size: 14px">
                                <a
                                   {% if user.is_authenticated %}
                                    href="#/"
                                    data-url="{% url 'main:like' answer.pk 'comment' %}"
                                    class="icon solid fa-heart likeIcon"
                                   {% else %}
                                    href="#menu" data-toggle="modal"
                                    class="icon solid fa-heart fa-bars"
                                   {% endif %}>{{answer.get_count_comment}}</a>

                            <br>
                            {% trans 'Автор' %}: <b>{{answer.user_id.username}}</b>
                            <br>
                            {{answer.date_create}}
                            {% if answer.date_update|date:"Y,m,d,h,i" > answer.date_create|date:"Y,m,d,h,i" %}
                            <br>
                            {% trans 'Обновлен' %} {{answer.date_update}}
                            {% endif %}
                            {% if answer.user_id_id == user.id and 'Del' != answer.comment_status %}
                            <br>
                            <a class="text-info" href="{% url 'main:comment_delete' answer.pk%}">{% trans 'Удалить ответ' %}</a>
                            <br>
                            <a class="text-info" href="{% url 'main:comment_update' answer.pk%}">{% trans 'Редактировать ответ' %}</a>
                            {% endif %}
                        </p>
                        {% endif %}
                        <!-- Удаление ответа на комментарий модератором -->
                        {% if user|has_group:"Moder" and 'Del' != answer.comment_status %}
                        <div class="row justify-content-md-end">
                            <form action="{% url 'main:comment_delete' answer.pk%}">
                                <input class="btn btn-outline-warning" type="submit" value="{% trans 'Модератор: Удалить ответ' %}" />
                            </form>
                        </div>
                        {% endif %}
                        <!--                        <a href="#formReview" onclick="addReview('{{comment.user_id.username}}', '{{comment.id}}')">Ответить</a>  # Может позже другие уровни ответов-->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </article>
    {% endfor %}

    {% endif %}

</div>

<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <script>
        document.write("&copy; " + new Date().getFullYear() + " Server Monkeys");

    </script>
</section>

{% endblock %}
