{% extends 'mainapp-base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div style="text-align: center">
{% for article in object_list %}
    <h1>
{{article.title}}
        </h1>
    <br>
{{article.text| truncatewords:10}}
<br>
    <a href="{% url 'main:post' article.slug %}">Читать целиком</a>
    <br>
    <h5>
Автор: {{article.user_id.username}}
        </h5>
<br>

{% endfor %}


{% if is_paginated %}
<div class="paginator">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET }}">&lt;</a>
    {% endif %}

    <span class="current">{% trans "Cтраница" %}{{ page_obj.number }} {% trans "из" %} {{ paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&{{ request.GET }}">&gt;</a>
    {% endif %}

</div>
{% endif %}
    </div>
{% endblock %}

