{% extends 'mainapp_base.html' %}
{% load static %}

{% block users %}
{% endblock %}

{% block content %}

<div id="main">
    <article class="post">
        <p>Вы уверены, что хотите удалить {% if object.title %}статью "{{ object.title }} {% elif object.text %} коментарий <br> "{{object.text | truncatewords:10}} {% endif %}"?</p>
        <form method="post">{% csrf_token %}
            <input type="submit" class="btn btn-outline-danger text-center" value="Удалить">
        </form>
        <button onclick="goBack()">Назад</button>
    </article>
</div>
{% endblock %}
