{% extends 'mainapp_base.html' %}
{% load static %}

{% block users %}
{% endblock %}

{% block content %}

<div class="row">
    <p class="h2 text-center">Вы уверены, что хотите удалить {% if object.title %}статью "{{ object.title }} {% elif object.text %} коментарий {{object.text}} {% endif %}"?</p>
</div>

<div class="row">
    <br>
</div>

<div class="row">
    <div class="col-sm justify-content-end">
        <form method="post">{% csrf_token %}
            <div class="col d-flex justify-content-end">
                <input type="submit" class="btn btn-outline-danger text-center" value="Удалить">
            </div>
        </form>
    </div> <!-- closing <div class="col-sm justify-content-end"> -->

    <div class="col-sm">
        <button class="btn btn-outline-success" onclick="goBack()">Назад</button>
    </div> <!-- closing <div class="col-sm"> -->
</div> <!-- closing div class="row" -->
{% endblock %}