{% extends 'mainapp_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div id="main">
    <article class="post">
<h2>
    {% trans 'Edit' %} {% if slug %}{% trans 'post' %}{% elif pk %} {% trans 'comment' %}{% endif %}
</h2>
<hr>
{% if slug %}
<a href="{% url 'main:article_delete' slug=slug%}">{% trans 'Delete post' %}</a>
{% elif pk %}
<a href="{% url 'main:comment_delete' pk=pk%}">{% trans 'Delete comment' %}</a>
{% endif %}

<form method=post enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="d-flex align-self-start mr-3">{{field.label}} <span style="color: red">{{field.errors}}</span></div>

    <div class="form-con-create">{{field}}</div>
    {% endfor %}


    <button type="submit" , value="сохранить" , name="save-article" class="btn" style="margin-top: 20px">
        {% trans 'Save' %}
    </button>
</form>
        </article>
</div>
{% endblock %}
