{% extends 'mainapp_base.html' %}
{% load static %}

{% block content %}

<div id="main">
    <article class="post">
<h2>Редактирование {% if slug %}статьи{% elif pk %} коментария{% endif %}</h2>
<hr>
{% if slug %}
<a href="{% url 'main:article_delete' slug=slug%}">Удалить статью</a>
{% elif pk %}
<a href="{% url 'main:comment_delete' pk=pk%}">Удалить коментарий</a>
{% endif %}

<form method=post enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="d-flex align-self-start mr-3">{{field.label}} <span style="color: red">{{field.errors}}</span></div>

    <div class="form-con-create">{{field}}</div>
    {% endfor %}


    <button type="submit" , value="сохранить" , name="save-article" class="btn" style="margin-top: 20px">
        Сохранить
    </button>
</form>
        </article>
</div>
{% endblock %}
