{% extends 'mainapp-base.html' %}
{% load static %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col text-justify text-success">
                <p class="h2 text-center text-success">{{object.title}}</p>
                <hr>
                <p class="h5 text-justify">{{object.text}}</p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col text-justify text-success text-right">
                <p class="text-center">Автор: {{object.user_id.username}}</p>
            </div>
            <div class="col text-justify text-success text-right">
                <p class="text-center">Дата создания: {{object.date_create}}</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

<h2>Коментариев: {{count_comments.id__count}}</h2>
{% if comments %}
<div class="alert alert-success text-center" role="alert">


        {% for comment in comments %}
        <h3>{{comment.text}}</h3>
         <p style="text-align: right">Автор: {{comment.user_id.username}}
        <br>
        {{comment.date_create}}
        </p>
        {% endfor %}

</div>
{% endif %}
<div class="alert alert-success text-center" role="alert">
    <p>
        <div class="order_form">
        <form method=post action=''>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit", value="сохранить", name="save-article">Сохранить</button>
        </form>
    </div>
    </p>
</div>
<div class="comment">
    <p>Написать комментарий</p>
    <form action="">
        <textarea name="" id="" cols="60" rows="5"></textarea>
        <div class="">
            {% if user.is_authenticated %}
            <a href="">Отправить</a>
            {% else %}
            <a href="{% url 'auth:login' %}">Отправить</a>
            {% endif %}
        </div>
    </form>
</div>


{% endblock %}