{% extends 'mainapp_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="main">

    <!-- Post -->
    {% for article in object_list %}
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{% url 'main:post' article.slug %}">{{article.title}}</a></h2>
                <p><a href="{% url 'main:category' slug=article.category_id.slug %}">{% trans "Раздел" %}: {{ article.category_id.name }}</a></p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">{{article.date_create}}</time>

                <a href="#" class="author"><span class="name">{{article.user_id}}</span>{% if article.user_id.avatar %}<img src="{{ article.user_id.avatar.url }}" title="{{ article.user_id.name }} {{ article.user_id.surname }}" alt="" />{% endif %}</a>

            </div>
        </header>
        {% if article.title_photo %}
        <a href="{% url 'main:post' article.slug %}" class="image featured"><img src="{{ article.title_photo.url }}" title="{{ article.title_photo }}"  alt="" /></a>
        {% endif %}
        <p>{{article.text| truncatewords:50}}</p>
        <footer>
            <ul class="actions">
                <li><a href="{% url 'main:post' article.slug %}" class="button large">{% trans "Продолжить чтение" %}</a></li>
            </ul>
            <ul class="stats">
                <li><a href="{% url 'main:category' slug=article.category_id.slug %}">{{ article.category_id.name }}</a></li>
                {% if user.is_authenticated %}
                <li><a href="#/" data-url="{% url 'main:like' article.pk 'post' %}" class="icon solid fa-heart likeIcon">{{article.get_count_post}}</a></li>
                <li><a href="{% url 'main:post' article.slug  %}#comment_block" class="icon solid fa-comment">{{article.count_all_comment}}</a></li>
                {% else %}
                <li><a href="#menu" class="icon solid fa-heart fa-bars">{{article.get_count_post}}</a></li>
                <li><a href="#menu" class="icon solid fa-comment fa-bars">{{article.count_all_comment}}</a></li>
                {% endif %}
            </ul>
        </footer>
    </article>
    {% endfor %}

    <!-- Pagination -->
    {% if is_paginated %}

    <ul class="actions pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}&{{ request.GET }}" class="button large previous">{% trans "Предыдущая страница" %}</a></li>
        {% endif %}
        <li><p class="button large">{% trans "Cтраница" %} {{ page_obj.number }} {% trans "из" %} {{ paginator.num_pages }}</p></li>
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}&{{ request.GET }}" class="button large next">{% trans "Следующая страница" %}</a></li>
        {% endif %}
    </ul>
    {% endif %}

</div>

<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">

        <a href="#" class="logo"><img src="https://static01.nyt.com/images/2017/09/12/us/12xp-monkey1/12xp-monkey1-superJumbo.jpg" alt="" /></a>
        <header>
            <h2>Server Monkeys</h2>
            <p>Будут мысли что сюда записать говорите: <br> <a href="https://trello.com/b/X5HjNG2g/agile-board">Сайта нет но есть доска!</a></p>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">

            <!-- Mini Post -->
            {% for article in object_list %}
            <article class="mini-post">
                <header>
                    <h3><a href="{% url 'main:post' article.slug %}">{{article.title}}</a></h3>
                    <time class="published" datetime="2015-10-20">{{article.date_create}}</time>
                    {% if article.user_id.avatar %}
                    <a href="#" class="author"><img src="{{ article.user_id.avatar.url }}" title="{{ article.user_id.name }} {{ article.user_id.surname }}" alt="" /></a>
                    {% endif %}
                </header>
                {% if article.title_photo %}
                <a href="{% url 'main:post' article.slug %}" class="image"><img src="{{ article.title_photo.url }}" title="{{ article.title_photo }}"   alt="" /></a>
                {% endif %}
            </article>
            {% endfor %}

        </div>
    </section>

    <!-- Posts List -->
    <section>
        <ul class="posts">
            {% for article in object_list %}
            <li>
                <article>
                    <header>
                        <h3><a href="{% url 'main:post' article.slug %}">{{article.title}}</a></h3>
                        <time class="published" datetime="2015-10-20">{{article.date_create}}</time>
                    </header>
                    <a href="{% url 'main:post' article.slug %}" class="image"><img {% if article.title_photo %}src="{{ article.title_photo.url }}" title="{{ article.title_photo }}" {% else %}src="https://vkstik.ru/wp-content/uploads/reklamko.png" title="Нет картинки" {% endif %} alt="" /></a>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <script>
            document.write("&copy; " + new Date().getFullYear() + " Server Monkeys");

        </script>
    </section>

</section>
{% endblock %}
