{% extends 'mainapp-base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col text-justify text-success">
                <p class="h2 text-center text-success">{{object.title}}</p>
                <hr>
                <p class="h5 text-justify">{{object.text}}</p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col text-justify text-success text-right">
                <p class="text-center">Автор: {{object.user_id.username}}</p>
            </div>
            <div class="col text-justify text-success text-right">
                <p class="text-center">Дата создания: {{object.date_create}}</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

{% endblock %}