{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block menu %}
            <div class="icon">
                <a href="/">Хабр</a>
             </div>
            <div class="header">
                <ul class="menu">
                    <li><a href="{% url 'main:design' %}">Дизайн</a></li>
                    <li><a href="{% url 'main:web_development' %}">Веб-разработка</a></li>
                    <li><a href="{% url 'main:mobile_development' %}">Мобильная разработка</a></li>
                    <li><a href="{% url 'main:marketing' %}">Маркетинг</a></li>
                    <li><a href="{% url 'auth:login' %}">Логин</a></li>

                </ul>
                <hr>
            </div>
        {% endblock %}

        {% block content %}
            <div class="content">
                <div class="habrs">
                    <p class="title">Все</p>
                    {% for user in users %}
                        <ul class="autor">
                            <li><img src="{{ user.avatar }}" alt="" class="avatar" width="25px" height="25px"></li>
                            <li><a href="#" class="user-name">{{ user.name }}</a></li>
                        </ul>
                        <div class="habr">
                            <p class="article">{{ user.article }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </div>
</body>
</html>