{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block menu %}
            <div class="icon">
                <a href="/">Хабр</a>
            </div>
            <div class="header">
                <ul class="menu">
                    <li><a href="{% url 'main:design' %}">Дизайн</a></li>
                    <li><a href="{% url 'main:web_development' %}">Веб-разработка</a></li>
                    <li><a href="{% url 'main:mobile_development' %}">Мобильная разработка</a></li>
                    <li><a href="{% url 'main:marketing' %}">Маркетинг</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'mainapp:account' %}">{{ user.name }}</a></li>
                        <li><a href="{% url 'auth:logout' %}">Выход</a></li>
                    {% else %}
                       <li><a href="{% url 'auth:login' %}">Вход</a></li>
                    {% endif %}

                </ul>
                <hr>
            </div>
        {% endblock %}

        {% block users %}
            <div class="content">
                <div class="habrs">
                    <p class="title">Все пользователи</p>
                        <details>
                            <summary>Список</summary>
                                {% for user in users %}
                                    {% if user.is_superuser %}
                                    {% else %}

                                        <ul class="autor">
                                            {% if user.avatar %}
                                            <li><img src="{{ user.avatar }}" alt="" class="avatar" width="25px" height="25px"></li>
                                            {% else %}
                                            <li><img src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png" alt="" class="avatar" width="30px" height="30px"></li>
                                            {% endif %}
                                            <li><a href="#" class="user-name">{{ user.name }} {{ user.surname }}</a></li>
                                        </ul>
                                        <div class="habr">
                                            <p class="article">{{ user.article }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                        </details>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>