{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block menu %}
            <div class="icon">
                <a href="/">Хабр</a>
            </div>
            <div class="header">
                <ul class="menu">
                        <li><a href="{% url 'main:index' %}">Главная</a></li>
                    {% for category in categories %}
                        <li><a href="{% url 'main:category' slug=category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'auth:account' %}">{{ user.name }}</a></li>
                        <li><a href="{% url 'auth:logout' %}">Выход</a></li>
                    {% else %}
                       <li><a href="{% url 'auth:login' %}">Вход</a></li>
                    {% endif %}

                </ul>
                <hr>
            </div>
        {% endblock %}

        {% block users %}
            <div class="content">

            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>