* {
    padding: 0 auto;
    margin: 0 auto;
}

a[href] {
    text-decoration: none;
}

a:hover[href] {
    color: white;
    text-shadow: 2px 1px 1px black;
}

.icon {
    background-color: #233845;
    height: 60px;
}

.header {
    height: 100px;
}

.form-con textarea {
    width: 700px;
    height: 200px;
    color: #bfbfbf;
}