* {
    padding: 0 auto;
    margin: 0 auto;
}

a[href] {
    text-decoration: none;
}

a:hover[href] {
    color: white;
    text-shadow: 2px 1px 1px black;
}

.icon {
    background-color: #233845;
    height: 60px;
}

.header {
    height: 100px;
}

.form-con textarea {
    width: 600px;
    height: 150px;
    border-color: #bfbfbf;
    border-radius: 4px;
}

.form-con-create textarea {
    width: 800px;
    height: 400px;
    border-color: #bfbfbf;
    border-radius: 4px;
}

.open-button {
    display: block;
}

.comment {
    display: none;
}